<div class="container">
    <!-- CONTACT INFORMATION SECTION-->
    <div class="tui-space_bottom-10">
        <h3 class="tui-text_body-xl">Contact information</h3>
        <tui-input #d style="width:100%;" [formControl]="emailField"
            [tuiTextfieldCustomContent]="emailField.valid ? success : ''" tuiTextfield type="email">Email</tui-input>
        <ng-container *ngIf="!emailField.valid && !(emailField.value == '') else errorEmail">
            <tui-notification class="tui-space_top-1 notification-text" status="warning">
                Adress must contain the @ symbol. Address {{emailField.value}} is not complete
            </tui-notification>
        </ng-container>
    </div>

    <!-- SHIPPING INFORMATION SECTION-->
    <div class="tui-space_bottom-10">
        <h3 class="tui-text_body-xl">Shipping information</h3>
        <div class="tui-space_bottom-3">
        <tui-select class="tui-space_bottom-3" [formControl]="countryValue" (ngModelChange)="changedCountry()">Country
            <input tuiTextfield>
            <tui-data-list-wrapper *tuiDataList [items]="allowedCountries">
            </tui-data-list-wrapper>
            
        </tui-select>
        <ng-container *ngIf="try && countryValue.value == null" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Select country'}">
                </ng-container>
        </div>
        

        <div class="input-name-container tui-space_bottom-3">
            <div class="tui-space_right-3">
                <tui-input tuiTextfield [formControl]="firstName">First name</tui-input>
                <ng-container *ngIf="try && firstName.value == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter first name'}">
                </ng-container>
            </div>
            <div>
                <tui-input tuiTextfield [formControl]="lastName">Last name</tui-input>
                <ng-container *ngIf="try && lastName.value == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter last name'}">
                </ng-container>
            </div>
        </div>

        <div class="tui-space_bottom-3">
        <tui-input tuiTextfield [formControl]="adress">Adress</tui-input>
        <ng-container *ngIf="try && adress.value == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter adress'}">
                </ng-container>
            </div>
        
                <div class="sub-adress-container tui-space_bottom-3">
            <div class="tui-space_right-3">
            <tui-input tuiTextfield [formControl]="subAdress">Apartment, suite</tui-input>
            <ng-container *ngIf="try && subAdress.value == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter apartment, suite'}">
                </ng-container>
            </div>
            <div> 
            <tui-input type="number" [formControl]="postcode"> <input
                    tuiTextfield oninput="this.value = this.value.toUpperCase()">Postcode</tui-input>
                    <ng-container *ngIf="try && postcode.value == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter postcode'}">
                </ng-container>
            </div>
        </div>
        <tui-input-phone-international class="tui-space_bottom-3" [countries]="countriesI"
            [(countryIsoCode)]="countryCode" [formControl]="phone">Phone</tui-input-phone-international>
            <ng-container *ngIf="try && phone.value == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter phone number'}">
                </ng-container>
    </div>
    <!-- NAVIGATION SECTION-->
    <div class="navigation-container">
        <a tuiLink routerLink="/">
            <tui-svg src="tuiIconChevronLeft" class="tui-space_right-1"></tui-svg>
            Return to cart
        </a>
        <button tuiButton (click)="goToShipping()">Continue to shopping</button>
    </div>
</div>

<ng-template #success>
    <tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
</ng-template>

<ng-template #errorEmail>
    <ng-container *ngIf="try && emailField.value == ''" [ngTemplateOutlet]="error"
    [ngTemplateOutletContext]="{value: 'Enter email'}"></ng-container>
</ng-template>

<ng-template #error let-value='value'>
        <div class="tui-space_top-2 tui-text_body-m error">{{value}}</div>
</ng-template>