.success {
    position: relative;
    color: var(--tui-success-fill);
}
.input-name-container, .sub-adress-container, .navigation-container{
    display: flex;
}
.navigation-container {
    justify-content: space-between;
    align-items: center;
}
.input-name-container div, .sub-adress-container div{
    width: 100%;
}
.error-border {
    border: 1px solid;
    border-color: var(--tui-negative);
}
.error {
    color: var(--tui-negative);
}