<ng-container *ngIf="parent; else child">
    <!-- Parent with all products -->
    <div class="title-wrapper">
        <h1 class="tui-text_h3">{{title}}</h1>
    </div>
    <div class="support-cards-wrapper">
        <button routerLink="/support/contact-us" routerLinkActive="active"  tuiAction class="action but-1" (click)="scrollTop()">
            <section>
                <h3 class="header tui-text_h3">CONTACT US</h3>
            </section>
        </button>
        <button routerLink="/support/vacancies" routerLinkActive="active" tuiAction class="action but-2" (click)="scrollTop()">
            <section>
                <h3 class="header tui-text_h3">VACANCIES</h3>
            </section>
        </button>
        <button routerLink="/support/about" routerLinkActive="active" tuiAction  class="action but-3" (click)="scrollTop()">
            <section>
                <h3 class="header tui-text_h3">ABOUT</h3>
            </section>
        </button>
    </div>
</ng-container>
<!-- Child of products with certain goods -->
<ng-template #child>
    <router-outlet></router-outlet>
</ng-template>