<ng-container *ngIf="content; else error">
    <div class="main-container tui-text_body-m grid-container">
        <div class="header-container">
            <div class="header">
                <h4 class="tui-text_h3">{{contentObj.name}}</h4>
            </div>
            <div class="desc-container">
                <ng-container *ngFor="let text of desc">
                    <p class="tui-text_body-m">{{text}}</p>
                </ng-container>
            </div>
        </div>
        <div class="body-container">
            <h2 class="tui-text_h6">Responsibilities: </h2>
            <ng-container *ngFor="let text of respDesc">
                <p class="tui-text_body-m">{{text}}</p>
            </ng-container>
            <ul class="tui-list tui-list tui-space_left-3">
                <ng-container *ngFor="let responsibility of contentObj.responsibilities.list">
                    <li class="tui-list__item">{{responsibility}}</li>
                </ng-container>
            </ul>
        </div>
        <div class="body-container">
            <h2 class="tui-text_h6">Qualifications: </h2>
            <ul class="tui-list tui-list tui-space_left-3">
                <ng-container *ngFor="let qualification of contentObj.qualifications">
                    <li class="tui-list__item">{{qualification}}</li>
                </ng-container>
            </ul>
        </div>
        <div class="flex group">
            <button tuiButton class="tui-space_right-3 primary" (click)="applyJob()">Apply</button>
            <div class="flex">
                <span>Share a job</span>
                <a appearance="outlet" href="http://www.facebook.com/share.php?u={{url}}" target="_blink" tuiIconButton [icon]="facebookSVG"></a>
                <a appearance="outlet" href="//twitter.com/intent/tweet?via=SmartRecruiters&url={{url}}" target="_blink" tuiIconButton [icon]="twitterSVG"></a>
                <a appearance="outlet" href="https://www.linkedin.com/sharing/share-offsite/?url={{url}}" target="_blink" tuiIconButton [icon]="linkedinSVG"></a>
            </div>
        </div>

        <div *ngIf="similarAr.length > 0" class="tui-space_top-5">
            <h4 class="tui-text_h3">Similar jobs</h4>
            <div class="grid-container">
            <ng-container *ngFor="let item of similarAr">
                <a tuiAction class="similar-card" target="_blank" icon="tuiIconRedoLarge" (click)="navigateVacancy(item)">
                    <section>
                        <h3 class="tui-text_body-l">{{item.field}}</h3>
                        <h3 class="tui-text_h6">{{item.title}}</h3>
                    </section>
                </a>
            </ng-container>
        </div>
        </div>
    </div>
    
</ng-container>

<ng-template #error>
    <app-page-not-found></app-page-not-found>
</ng-template>