:host {
    --tui-link: var(--tui-base-07);
    --tui-link-hover: var(--tui-text-01);
}
.body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.flex {
    display: flex;
    gap: .5rem;
}
.title-wrapper {
    max-width: 1200px;
    border-bottom: solid 1px var(--tui-base-04);
    margin: auto;
    padding: 50px 0;
    text-align: center;
}
.settings-wrapper {
    display: flex;
    justify-content: end;
}
@media (max-width: 700px) {
    .settings-wrapper {
        display: block;
    }
    .slider {
        margin: 0;
        width: 100%!important;;
        margin-bottom: 1.25rem;
    }
    .view {
        margin: 0;
        margin-bottom: 1.25rem;
    }
    .view button{
        margin: 0;
        width: 100%!important;
    }
    .sort button{
        margin: 0;
        width: 100%!important;;
        margin-bottom: 1.25rem;
    }
}
.slider {
    width: 12.5rem;
    margin-right: 1.25rem;
}
.content-wrapper {
    max-width: 1200px;
    margin: auto;
}
.group {
    display: block;
}
.group-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto auto;
}
.group-prop-flex {
    display: flex;
    justify-content: space-between;
}
.item-card {
    cursor: pointer;
    height: 300px;
    
    background: var(--tui-base-02);
    border: 0;
    display: flex;
    align-items: center;
    padding: 0 25px;
    transition: .5s;
    box-shadow: 0.1rem 0.25rem .5rem rgb(0 0 0 / 10%);
}
.buy-field {
    transition: .5s opacity, .5s transform, .5s visibility;
    opacity: 0;
    visibility: hidden;
}
.buy-field, .buy-field button{
    height: 100%;
    margin-right: -12.5px;
    border-radius: 0;
    border-top-right-radius: var(--tui-radius-l);
    border-bottom-right-radius: var(--tui-radius-l);
}
.buy-field-grid, .buy-field-grid button{
    width: calc(100% + 10px);
    
    margin-left: -5px;
    border-radius: 0;
    border-bottom-right-radius: var(--tui-radius-l);
    border-bottom-left-radius: var(--tui-radius-l);
    height: 80px;
    margin-bottom: -10px;
}
.buy-field-grid {
    
    transform: translateY(100%);
}
.content-body {
    margin: 0 0.5rem;
}
.item-card:hover {
    box-shadow: 0.25rem 0.75rem .5rem rgb(0 0 0 / 10%);
}
.item-card:hover .item-color-group-grid {
    display: flex;
}
.item-card:hover .buy-field{
    visibility: visible;
    opacity: 1;
}
.item-card:hover .buy-field-grid {
    transform: translateY(0);
}
.item-card:hover .item-img {
    transform: scale(1.1);
    
}
.item-card-grid {
    height: auto;
    display: block;
    width: calc(300px - 20px - 1rem);
    max-width: 500px;
    margin: 0;
    padding: 10px 10px;
} 

.discount {
    display: flex;
    justify-content: center;
    height: 280px;
    width: 0;
    margin-left: 15px;
    position: absolute;
}
.discount-grid {
    margin-left: 25px;
}
.discount::before {
    content: '';
    background: rgba(0,255,0,.4);
    width: 50px;
    height: 30px;
    position: absolute;
    margin-top: -10px;
}
.discount::after {
    content: '';
    border: solid transparent;
    box-sizing: border-box;
    border-top-width: 10px;
    border-top-color: rgba(0, 255, 0,.4);
    border-left-width: 25px;
    border-right-width: 25px;
    border-bottom-width: 50px;
    position: absolute;
    margin-top: 20px;
}
#discount-text {
    position: absolute;
}
.item-img {
    height: 250px;
    width: 250px;
    background-size: cover;
    transition: 3s transform;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.item-img-grid {
    width: 80%;
    height: auto;
}
.item-prop-field {
    height: 250px;
    display: flex;
    flex-flow: column;
}
.item-prop-field-grid {
    height: 150px;
    width: 150px;
}
.item-name, .item-description {
    color: var(--tui-base-07);
}
.price-field {
    display: flex;
}
.price-field-grid {
    display: grid;
}
.new-price-field {
    color: rgb(200, 0, 0)
    
}
.old-price-field {
    text-decoration:line-through;
}
.item-color-group {
    display: flex;
    position: relative;
    z-index: 2;
}
.item-color-group-grid {
    display: none;
    justify-content: center;
    
    margin-top: -18px;
}
.item-color {
    width: 18px;
    height: 18px;
    background-size: 90%;
    border-radius: 50%;
    outline-offset: 2px;
    outline: 1px solid var(--tui-base-06); 
    
    filter: contrast(0.6);

    opacity: 1;
}
.selected-color {
    outline: 3px solid var(--tui-base-08);
    outline-offset: 0;
}
.item-length-group {
    display: flex;
}
.item-length {
    border: 1px solid var(--tui-primary);
    border-radius: var(--tui-radius-xs);
    padding: 3px;
}
.selected-length {
    background: var(--tui-primary);
    color: var(--tui-primary-text);
}
.item-description {
    flex-grow: 1;
}
.item-description-grid {
    display: none;
}
.pagination {
    border-bottom: solid 1px var(--tui-base-04);
}
.hidden {
    visibility: hidden;
}
@media (max-width: 1200px) {
    .item-card-grid {
        width: calc(25vw - 20px - 1rem);
    }
}
@media (max-width: 1100px) {
    .group-grid {
        grid-template-columns: auto auto auto;
    }
    .item-card-grid {
        width: calc(33.4vw - 20px - 1rem);
    }
}
@media (max-width: 750px) {
    .group-grid {
        grid-template-columns: auto auto;
    }
    
    .item-card-grid {
        width: calc(50vw - 20px - 1rem);
    }
}
@media (max-width: 500px) {
    .group-grid {
        grid-template-columns: auto;
    }
    .item-card-grid {
        width: auto;
    }
}