<div class="checkout-wrapper">
    <!--SHIPPING DESCRIPTION-->
    <div class="checkout-content tui-space_top-5 tui-space_bottom-5 tui-space_left-5 tui-space_right-5">
        <a routerLink="/" class="link-home tui-text_h6">NEO</a>
        <tui-breadcrumbs class="nav-items">
            <ng-container *ngFor="let nav of navigations">
                <a tuiLink [ngClass]="nav.class" *tuiItem tuiLink [routerLink]="nav.routerLink" (click)="onClickChangeFocus(nav.caption)">
                    {{ nav.caption }}
                </a>
            </ng-container>
        </tui-breadcrumbs>
        <router-outlet></router-outlet>
    </div>
    

    <!--ORDER DESCRIPTION-->
    <div class="shopping-list-content tui-space_top-5 tui-space_bottom-5 tui-space_left-5 tui-space_right-5">
        <div class="padding-top-bottom-1 tui-text_body-m">
            <ng-container *ngFor="let item of shoppingList">
                <div class="item-container tui-space_bottom-3">
                    <div class="item-h_1">
                        <img class="item-image tui-space_right-3" [src]="item.imageSrc">
                        <div class="amount-field tui-text_body-s">{{item.amount}}</div>
                        <div>
                            <div class="item-name text-black">{{item.name}}</div>
                            <div class="tui-text_body-s">
                                <ng-container *ngFor="let value of item.valuesOfProperty; let indexOfElement = index">
                                    <span>{{value}}{{item.suffixOfProperty[indexOfElement]}}</span>
                                    <span *ngIf="indexOfElement < item.valuesOfProperty.length - 1"> /
                                    </span>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="text-black">${{getRound(item.actualPrice * item.amount)}}</div>
                </div>
            </ng-container>
        </div>
        <div class="border-top padding-top-bottom-1">

            <div class="discount-code-container tui-text_body-m">
                <tui-input style="width:100%;" class="tui-space_right-3" [formControl]="codeField"
                    (ngModelChange)="changeInput()">Discount code<input tuiTextfield maxlength="5" oninput="this.value = this.value.toUpperCase()"/></tui-input>

                <button #button [disabled]="disabled" appearance="primary" tuiButton
                    (click)="applyDiscount()">Apply</button>

            </div>

            <ng-container *ngIf="try">
                <ng-container *ngIf="codeValid; else error">
                    <tui-notification class="tui-space_top-3 notification-text" status="success">
                        Code applied successfully
                    </tui-notification>
                </ng-container>
                <ng-template #error>
                    <tui-notification class="tui-space_top-3 notification-text" status="error">
                        Enter a valid discount code
                    </tui-notification>
                </ng-template>
            </ng-container>

        </div>

        <div class="border-top padding-top-bottom-1 tui-text_body-m">
            <ng-container *ngIf="codeValid">
                <div class="discount-container tui-space_bottom-2">
                    <span>Discount</span>
                    <span>-{{codeDiscount}}%</span>
                </div>
            </ng-container>

            <ng-container *ngIf="!codeValid; else subTotalWithDiscount">
                <div class="sub-total-container tui-space_bottom-2">
                    <span>Subtotal</span>
                    <span>${{subTotal}}</span>
                </div>
            </ng-container>
            <ng-template #subTotalWithDiscount>
                <div class="sub-total-container tui-space_bottom-2">
                    <span>Subtotal</span>
                    <span>${{subTotalDiscount}} <span class="old-price">${{subTotal}}</span></span>
                </div>
            </ng-template>
            <div class="shipping-container ">
                <span>Shipping</span>
                <ng-container *ngIf="shipping != null; else later">
                    <ng-container *ngIf="shipping != 0; else priceShipping">
                        <span>${{shipping}}</span>
                    </ng-container>
                    <ng-template #priceShipping>
                        <span class="tui-text_body-s">Free</span>
                    </ng-template>
                </ng-container>
                <ng-template #later>
                    <span class="tui-text_body-s">Calculated at next step</span>
                </ng-template>
            </div>
        </div>

        <div class="total-container tui-text_body-xl border-top padding-top-bottom-1">
            <span>Total</span>
            <span class="tui-text_h6">${{total}}</span>
        </div>
    </div>
</div>