.wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 50vw;
    min-height: 400px;
}
h1, p, a {
    letter-spacing: .3rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
a {
    padding: 0 .5rem .1rem .5rem;
    font-weight: 700;
    border-bottom: solid 1px var(--tui-base-08);
    transition: .5s;
}
a:hover {
    color: var(--tui-base-01)!important;
    background: var(--tui-base-08);
}
.tui-text_body-xl {
    font-weight: bold;
}
.not-found-h1 {
    font-size: 8em;
    line-height: 1em;
}