<div class="form">
    <div class="form__header"><h2 class="tui-text_h4">LOGIN</h2></div>
    <tui-loader
    class="inline-flex tui-space_right-2"
    [showLoader]="loading"
    [inheritColor]="true"
    [overlay]="true"
>
    <div class="form__body" [formGroup]="testForm">
        <div class="form-group">
            <tui-input formControlName="username" tuiHintContent="Try these: test-test, username-password, nick-secret">
                Username
                <input tuiTextfield placeholder="Type your login" />
            </tui-input>
        </div>
        <div class="form-group">
            <tui-input-password formControlName="password">
                Password
                <input tuiTextfield placeholder="Type your login" />
            </tui-input-password>
        </div>
        <button tuiButton type="button" appearance="primary" (click)="submit()">
            Sign In</button>
        <tui-notification *ngIf="error"
        status="error"
    >{{error}}</tui-notification>
    </div>
</tui-loader>
</div>