.block-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    transition: .5s opacity, .5s visibility;
    background: rgba( 20, 20, 20, .8);
    visibility: hidden;
    opacity: 0;
}
.block-wrapper-open {
    opacity: 1;
    visibility: visible;
}
.shopping-cart-wrapper {
    transition: .5s transform;
    position: absolute;
   right: 0;
   width: 350px;
   height: 100%;   
   background: white;
   color: black;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -webkit-user-drag: none;
   transform: translate(100%);
   z-index: 10;
}
.shopping-cart-wrapper-open {
    transform: translate(0);
}
.shopping-cart-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: .5rem;
}
.item-collection {
    display: flex;
    height: 200px;
}
.item-img {
    margin-top: 25px;
    height: 150px;
    width: 150px;
    background-size: cover;
}
.empty-list-wrapper {
    
    padding: 1rem;
    text-align: center;
}

.button-close-shopping-cart {
    transition: .5s transform;
}
.button-close-shopping-cart:hover {
    transform: rotate(180deg);
}

.new-price {
    color: rgb(200, 0, 0)
    
}

.old-price {
    text-decoration:line-through;
}
.summary-wrapper {
    height: auto;
    box-shadow: inset 0 3px 8px -7px black;
}
.list-of-items-scrollbar {
    max-height: calc(100vh - 300px);
}
.item-wrapper {
    border-bottom: 1px solid var(--tui-base-04);
    padding: 0 10px;
}
.item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(20px - 0.5rem);
}
.item-header-card {
    cursor: pointer;
    transition: .25s;
}
.item-header-card:hover {
    color: var(--tui-base-06);
}
.item-description-card {
    color: var(--tui-base-06);
}
.edit-amount-field {
    display: inline-flex;
    border: 1px solid black;
    
    border-radius: var(--tui-radius-m);
    align-items: center;
    height: 40px;
}
.subtotal-wrapper {
    display: grid;
}
.sum-total-text {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
@media (max-width: 800px) {
    .shopping-cart-wrapper {
        width: 100%;
    }
}
@media (max-height: 350px) {
    .list-of-items-scrollbar {
        height: 0;
    }
}