<div [ngClass]="{'block-wrapper-open':open}" (click)="destroyOnWrapper($event)" class="block-wrapper">
    <div [ngClass]="{'shopping-cart-wrapper-open':open}" class="shopping-cart-wrapper">
        <div class="shopping-cart-header">
            <h1 class="tui-text_h6">SHOPPING CART</h1>
            <button tuiIconButton type="button" appearance="icon" class="button-close-shopping-cart"
                icon="tuiIconRemoveLarge" (click)="destroy()">
            </button>
        </div>
        <div class="summary-wrapper">
            <div class="list-of-items">
                <ng-container *ngIf="shoppingList.length > 0; else empty">
                    <tui-scrollbar class="list-of-items-scrollbar">
                        <ng-container *ngFor="let item of shoppingList; let i = index">
                            <div class="item-wrapper">
                                <div class="item-collection">
                                    <img class="item-img" [src]="item.imageSrc">
                                    <div>
                                        <div class="item-head">
                                            <div [routerLink]="item.ref" routerLinkActive="active"
                                                class="tui-text_body-m item-header-card">
                                                {{item.name}}
                                            </div>

                                        </div>
                                        <div class="tui-text_body-xs item-description-card">
                                            <ng-container
                                                *ngFor="let value of item.valuesOfProperty; let indexOfElement = index">
                                                <span>{{value}}{{item.suffixOfProperty[indexOfElement]}}</span>
                                                <span *ngIf="indexOfElement < item.valuesOfProperty.length - 1"> /
                                                </span>
                                            </ng-container>
                                        </div>
                                        <ng-container *ngIf="item.actualPrice != item.price; else noDiscount">
                                            <div class="tui-text_body-m"><span
                                                    class="new-price tui-space_right-1">${{getRound(item.actualPrice,
                                                    item.amount)}}</span><span class="old-price">${{getRound(item.price,
                                                    item.amount)}}</span></div>
                                        </ng-container>
                                        <ng-template #noDiscount>
                                            <div class="tui-text_body-m"><span
                                                    class="tui-space_right-1">${{getRound(item.actualPrice,
                                                    item.amount)}}</span></div>
                                        </ng-template>
                                        <div class="edit-amount-field tui-text_h6 tui-space_top-3">
                                            <ng-container *ngIf="item.amount > 1; else remove">
                                                <button tuiMode="onLight" class="" tuiIconButton type="button"
                                                    appearance="icon" icon="tuiIconMinus"
                                                    (click)="changeAmount(i, false)"></button>
                                            </ng-container>

                                            <ng-template #remove>
                                                <button tuiMode="onLight" tuiIconButton type="button" appearance="icon"
                                                    icon="tuiIconTrash" (click)="changeAmount(i, false)"></button>
                                            </ng-template>

                                            <span>{{item.amount}}</span>

                                            <button tuiMode="onLight" tuiIconButton type="button" appearance="icon"
                                                icon="tuiIconPlus" (click)="changeAmount(i, true)"></button>

                                        </div>

                                    </div>
                                    <button tuiMode="onLight" class="" tuiIconButton type="button" appearance="icon"
                                        icon="tuiIconTrash" (click)="deleteItem(i)"></button>
                                </div>
                            </div>
                        </ng-container>
                    </tui-scrollbar>
                    <div class="subtotal-wrapper">
                        <div class="tui-text_h6 sum-total-text tui-space_left-3 tui-space_right-3 tui-space_bottom-3">
                            <span>SUBTOTAL:</span>
                            <span>${{total}}</span>
                        </div>
                        <button tuiButton type="button" appearance="outline"
                            class="tui-space_left-3 tui-space_right-3 tui-space_bottom-3" (click)="goToCart()">VIEW CART</button>
                        <button tuiButton type="button" appearance="primary"
                            class="tui-space_left-3 tui-space_right-3 tui-space_bottom-3" (click)="goToCheckout()">CHECK OUT</button>
                    </div>
                </ng-container>
                <ng-template #empty>
                    <div class="empty-list-wrapper ">
                        <div class="tui-list__item-title tui-space_top-8 tui-space_bottom-8">List is empty</div>
                        <button tuiButton class="tui-space_top-3" type="button" appearance="primary"
                            routerLink="/products" routerLinkActive="active" (click)="goShopping()">GO
                            SHOPPING</button>
                    </div>
                </ng-template>

            </div>


        </div>
    </div>
</div>
