.main-container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 2rem auto;
}

.item-wrapper {
    background: var(--tui-base-03);
    padding: 2rem;
}

.tui-text_h5 {
    font-weight: lighter;
}

.flex {
    display: flex;
}

.flex-grid-container {
    display: flex;
}

@media (max-width: 700px) {
    .flex-grid-container {
        display: grid;
    }

    .image-wrapper {
        width: 100% !important;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.grid {
    display: grid;
}

.border-bottom {
    border-bottom: 1px solid var(--tui-base-06);
}

.gap-1 {
    gap: .5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 1.5rem;
}

.gap-4 {
    gap: 2rem;
}

.image-wrapper {
    width: 50%;
}

.item-image {
    background: #fff;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--tui-radius-m);

    box-shadow: 2px 2px 3px 1px var(--tui-base-04);
}

.item-image img {
    width: 100%;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.desc-container {
    flex: 1;
}

.old-price {
    color: var(--tui-base-07);
    text-decoration: line-through;
}

.discount {
    padding: .1rem .5rem;
    color: var(--tui-info-fill);
    border-radius: var(--tui-radius-s);
    border: 1px solid var(--tui-info-fill);
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.rating-flex {
    display: flex;
    align-items: center;
    color: #fb9e20;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.color-prop {

    filter: contrast(0.6);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.color-prop-l {

    filter: contrast(0.6);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.selected-color-prop {
    outline-offset: 2px;
    outline: 2px solid var(--tui-base-08);
}

.second-prop {
    padding: .2rem;
    border-radius: var(--tui-radius-xs);
    border: 1px solid var(--tui-base-08);
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.selected-second-prop {
    background: var(--tui-base-08);
    color: white;
}

.button-flex {
    flex: 1;
}