:host {
    --tui-action-color: var(--tui-text-01);
    --tui-action-background: var(--tui-base-04);
}
.title-wrapper {
    max-width: 1200px;
    border-bottom: solid 1px var(--tui-base-04);
    margin: auto;
    padding: 50px 0;
    text-align: center;
}
.settings-wrapper h1{
    margin: 0;
}
.main-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 3rem auto;
    padding: 0 1rem;
    box-sizing: border-box;
}
.cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
@media (max-width: 900px) {
    .cards-container {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 600px) {
    .cards-container {
        grid-template-columns: auto;
    }
}