.title-wrapper {
    max-width: 1200px;
    border-bottom: solid 1px var(--tui-base-04);
    margin: auto;
    padding: 50px 0;
    text-align: center;
}
.settings-wrapper h1{
    margin: 0;
}
.main-container {
    max-width: 1200px;
    margin: 2rem auto;
}