<div class="container">

    <div class="sum-container tui-space_top-6 tui-space_bottom-10">
        <!-- INFORMATION SECTION-->
        <div class="contact-container padding-bottom">
            <div class="tui-text_body-m chapter">Contacts</div>
            <div class="group-flex">
                <div class="tui-text_body-m">{{contact}}</div>
                <a tuiLink routerLink="/{{id}}/checkout">Change</a>
            </div>
        </div>
        <div class="shipping-info-container border-top padding-top">
            <div class="tui-text_body-m chapter">Ship to</div>
            <div class="group-flex">
                <div class="tui-text_body-m">{{shipTo}}</div>
                <a tuiLink routerLink="/{{id}}/checkout">Change</a>
            </div>
        </div>
        <div class="shipping-method-container border-top padding-top">
            <div class="tui-text_body-m chapter">Method</div>
            <div class="group-flex">
                <ng-container *ngIf="shippingMethod.price != 0; else free">
                    <div class="tui-text_body-m">{{shippingMethod.name}} - <span
                            class="bold-text">${{shippingMethod.price}}</span></div>
                </ng-container>
                <ng-template #free>
                    <div class="tui-text_body-m">{{shippingMethod.name}} - <span class="bold-text">Free</span></div>
                </ng-template>
                <a tuiLink routerLink="/{{id}}/checkout/shipping">Change</a>
            </div>
        </div>
    </div>

    <!-- PAYMENT SECTION-->
    <div class="tui-space_bottom-10">
        <h3 class="tui-text_body-xl">Payment</h3>
        <form class="payment-methods-sum" [formGroup]="radioForm">
            <ng-container *ngFor="let payment of paymentMethod">
                <div class="payment-method-container padding-top padding-bottom tui-text_body-m">
                    <tui-radio class="tui-space_right-5" formControlName="radioValue" [item]="payment.id"
                        (ngModelChange)="changePayment(payment)"></tui-radio>
                    <div class="shipping-description">
                        <div>{{payment.name}}</div>
                        <ng-container *ngIf="payment.id === 1">
                            <div class="svg-group">
                                <tui-svg src="tuiIconVisa" class="icon"></tui-svg>
                                <tui-svg src="tuiIconMastercard" class="icon"></tui-svg>
                                <tui-svg [src]="AEsvg" class="icon"></tui-svg>
                                <tui-svg [src]="JCBsvg" class="icon"></tui-svg>
                            </div>
                        </ng-container>
                    </div>

                </div>
                <ng-container *ngIf="radioForm.value.radioValue == payment.id">
                    <div class="payment-content padding-bottom-2 padding-top-2 border-bottom">
                        <img class="image-class" [src]="srcRedirect">
                        <div class="tui-text_body-s">After clicking “Complete order”, you will be redirected to
                            {{payment.name}} to complete your purchase securely.</div>
                    </div>
                </ng-container>
            </ng-container>
        </form>
    </div>
    <!-- NAVIGATION SECTION-->
    <div class="navigation-container">
        <a tuiLink routerLink="/{{id}}/checkout/shipping">
            <tui-svg src="tuiIconChevronLeft" class="tui-space_right-1"></tui-svg>
            Return to shipping
        </a>
        <button tuiButton (click)="completeOrder()">Complete order</button>
    </div>
</div>


<ng-template let-observer [tuiDialogOptions]="{label: 'Payment proceed', size: 's'}" [(tuiDialog)]="openDialog">
    <div class="tui-space_top-5 tui-space_bottom-5">
    <div class="tui-text_body-m payment-amount-container padding-left padding-right tui-space_top-2 tui-space_bottom-2">
        <div class="label-text">Actual payment amount</div>
        <div class="price-text">{{total}} USD</div>
    </div>
    <form [formGroup]="form" class="tui-space_top-3" (ngSubmit)="observer.complete()">
        <tui-input-card class="tui-space_bottom-3" formControlName="card" [autocompleteEnabled]="true">
            Card number
        </tui-input-card>
        
        <ng-container *ngIf="try && form.value.card == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter card number'}">
                </ng-container>
        <div class="input-name-container tui-space_bottom-3">
            <div class="tui-space_right-2">
                <tui-input tuiTextfield formControlName="firstName">First name</tui-input>
                <ng-container *ngIf="try && form.value.firstName == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter first name'}">
                </ng-container>
            </div>
            <div>
                <tui-input tuiTextfield formControlName="lastName">Last name</tui-input>
                <ng-container *ngIf="try && form.value.lastName == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter last name'}">
                </ng-container>
            </div>
        </div>
        <div class="card-extra-container">
        <div class="extra tui-space_right-2">
        <tui-input-expire formControlName="expire" [autocompleteEnabled]="true">
            Expire date
        </tui-input-expire>
        <ng-container *ngIf="try && form.value.expire == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter expire date'}">
                </ng-container>
        </div>
        <div class="extra">
        <tui-input-cvc formControlName="cvc" [autocompleteEnabled]="true">
            CVC/CVV
        </tui-input-cvc>
        <ng-container *ngIf="try && form.value.cvc == ''" [ngTemplateOutlet]="error"
                    [ngTemplateOutletContext]="{value: 'Enter CVC/CVV'}">
                </ng-container>
            </div>
        </div>
        <div></div>
        
    </form>
</div>
<button tuiButton class="button-payment" (click)="proceedPayment()">PAY {{total}} USD</button>
</ng-template>

<ng-template #error let-value='value'>
    <div class="tui-space_top-2 tui-text_body-m error">{{value}}</div>
</ng-template>