.title-wrapper {
    max-width: 1200px;
    border-bottom: solid 1px var(--tui-base-04);
    margin: auto;
    padding: 50px 0;
    text-align: center;
}
.settings-wrapper h1{
    margin: 0;
}
.main-content, .discount-container {
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 1.5rem;
}
.text-fill {
    color: var(--tui-base-06);
}

.wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 50vw;
    min-height: 400px;
}
.tui-text_body-xl {
    font-weight: bold;
}

.discount-container {
    text-align: center;
}
.sub-label {
    margin-top: 2rem;
    color: var(--tui-text-03);
}
.discount-cards {
    margin: 5rem 0;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    gap: 5rem;
    padding: 0 2rem;
}
.discount-card {
    flex: 1;
    display: grid;
    grid-auto-rows: 1fr;
}
.card-body {
    background: var(--tui-accent);
    /*background: linear-gradient(0deg, #fdce3b, #ff4b12);*/
    display: flex;
    align-items: center;
    color: var(--tui-text-01-night);
    padding: 1rem 0.5rem 1rem 1.5rem;
    border-radius: var(--tui-radius-s) var(--tui-radius-s) 0 0;
}
.card-value {
    padding-right: .5rem;
}
.card-body > ul {
    flex: 1;
    text-align: left;
}
.card-bottom {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    background: var(--tui-base-08);
    height: calc(40px + 1rem);
    color: var(--tui-text-01-night);
    text-align: left;
    border-radius: 0 0 var(--tui-radius-s) var(--tui-radius-s);
}
.card-bottom > button {
    height: 40px;
}
@media (max-width: 1200px) {
    .discount-cards {
        gap: 2rem;
    }
}
@media (max-width: 900px) {
    .discount-cards {
        flex-direction: column;
    }
}