<ng-container *ngIf="!noContent; else error">
<div class="title-wrapper">
    <h1 class="tui-text_h3">{{title}}</h1>
</div>
<div tuiMode="onLight" class="tui-space_top-3 main-content ">
    <ng-container *ngFor="let item of activeData">
        <div class="paragraph tui-space_bottom-8">
            <div class="tui-text_h6 tui-space_bottom-2">{{item.subtitle}}</div>
            <div class="tui-text_body-m text-fill">{{item.text}}</div>
        </div>
    </ng-container>
</div>
</ng-container>
<ng-template #error>
    <div tuiMode="onLight" class="wrapper">
        <div class="page-error">
        <h1 class="tui-space_bottom-5 tui-space_top-0 tui-text_h1 not-found-h1">404</h1>
        <p class="tui-space_bottom-5 tui-text_body-xl">SORRY! PAGE NOT FOUND</p>
        <p class="tui-text_body-m">Go back <a routerLink="/" tuiLink>home</a></p>
        </div>
    </div>
</ng-template>