<div class="title-wrapper">
    <h1 class="tui-text_h4">New Collections</h1>
</div>
<div class="new-container">
    <ng-container *ngFor="let collection of collections">
        <div  *ngIf="collection.imageSrc !== ''" (click)="routeTo(collection.ref)" class="collection-wrapper">
            <img [src]="collection.imageSrc">
            <div class="collection-header">
                <div class="collection-title tui-text_h4">
                    {{collection.label}}
                </div>
                <button (click)="routeTo(collection.ref)" tuiButton appearance="primaryW">Learn More<tui-svg src="tuiIconChevronRight"></tui-svg></button>
            </div>
            <div *ngIf="collection.description.length > 0" class="collection-footer">
                <ng-container *ngFor="let desc of collection.description">
                    <div class="footer-item">
                        <tui-svg [src]="desc.icon"></tui-svg>
                        <span>{{desc.label}}</span>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>