<div class="main-wrapper">
    <div class="content-container">
        <div class="content-wrapper">
            <div class="image-wrapper">
                <img [src]="imageSrc">
            </div>
            <div class="contacts-wrapper">
                <div class="contacts-content border">
                    <h4 class="tui-text_h6">Phone</h4>
                    <div class="tui-space_horizontal-3 tui-space_vertical-3">
                        <div>
                            <h3 class="tui-text_body-l">Accountant</h3>
                            <div>
                                <a href="tel:{{phone_1}}">{{phone_1}}</a>
                            </div>
                            <div class="tui-space_top-5">
                                <span class="tui-text_body-s grey">Mon-Fri (GMT+4) <br /> 8AM - 17PM</span>
                            </div>
                        </div>
                        <div>
                            <h3 class="tui-text_body-l">Secretary</h3>
                            <div>
                                <a href="tel:{{phone_2}}">{{phone_2}}</a>
                            </div>
                            <div class="tui-space_top-5">
                                <span class="tui-text_body-s grey">Thu, Fri (GMT+4) <br /> 10AM - 16PM</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts-content border">
                    <h4 class="tui-text_h6">Email</h4>
                    <div class="tui-space_horizontal-3 tui-space_vertical-3">
                        <ng-container *ngFor="let email of Emails">
                            <div>
                                <h3 class="tui-text_body-l">{{email.name}}</h3>
                                <a href="mailto:{{email.mail}}">{{email.mail}}</a>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="contacts-content border">
                    <h4 class="tui-text_h6">Tech support</h4>
                    <div class="tui-space_horizontal-3 tui-space_vertical-3">
                        <tui-text-area class="type-area tui-space_bottom-2" [formControl]="textOfQuestion">
                            Type your question
                        </tui-text-area>
                        <tui-input class="tui-space_bottom-2" [formControl]="emailField"
                            [tuiTextfieldCustomContent]="emailField.valid ? success : ''" tuiTextfield type="email"
                            tuiHintContent="For feedback">Email</tui-input>
                        <button tuiButton (click)="sendMsg()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #success>
    <tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
</ng-template>