.title-wrapper {
    text-align: center;
    margin: 2.5rem 0;
}

.solutions-wrapper {
    border-bottom: solid 1px var(--tui-base-04);
}

.solutions-wrapper>div {
    margin: 2.5rem 0;
}

.solutions-header {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.header-link {
    color: var(--tui-text-1);
    user-select: none;
    cursor: pointer;
    transition: .5s ease;
    position: relative;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color .3s;
}

.active {
    position: relative;
    transition: .3s ease;
    display: grid;
    place-items: center;
}

.active::after {
    height: 3px;
    width: 100%;
    content: '';
    display: block;
    bottom: -.5rem;
    background: var(--tui-text-01);
    position: absolute;
    animation: fill .3s linear;
}

@keyframes fill {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.solutions-container {
    height: 600px;
}

.solutions-layout {
    width: 100%;
    left: 0;
    overflow: hidden;
}

.box {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.items {
    width: 100%;
    display: flex;
    gap: 1rem;
    transition: all .6s ease;
}

.item-group {
    min-width: 100%;
    height: 600px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    user-select: none;
    box-sizing: border-box;
    background-size: cover;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}


.item {
    background: var(--tui-base-01);
    border-radius: var(--tui-radius-m);
    width: calc(25% - 0.5rem);
    height: calc(50% - 0.5rem);
    padding: 1rem;
    display: grid;
    place-items: center;
}

.item:hover .item-image img {
    scale: 1.1;
}

.item:first-child {
    width: calc(50% - 1rem);
    height: 100%;
}

.item-image {
    width: 70%;
}

.item-image img {
    transition: scale .3s;
    width: 100%;
}

@media (max-width: 900px) {
    .item-group {
        height: 1200px;
        flex-direction: row;
    }

    .solutions-container,
    .box {
        height: 1200px;
    }

    .solutions-header {
        padding: 0 1rem;
        text-align: center;
    }

    .item {
        width: calc(50% - 0.5rem);
        height: calc(25% - 0.5rem);
    }

    .item:first-child {
        width: calc(100%);
        height: calc(50% - 1rem);
    }

    .item-image {
        width: 50%;
    }
}