.block-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    transition: .5s opacity, .5s visibility;
    background: rgba(20, 20, 20, .8);
    visibility: hidden;
    opacity: 0;
}
.block-wrapper-open {
    opacity: 1;
    visibility: visible;
}

.profile-wrapper {
    transition: .5s transform;
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 350px;
    height: 100%;
    background: white;
    color: black;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transform: translate(100%);
}
.profile-wrapper-open {
    transform: translate(0);
}
.profile-form {
    width: 100%;
}
.profile-form__header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: .5rem;
}

.button-close {
    transition: .5s transform;
}

.button-close:hover {
    transform: rotate(180deg);
}
.profile-form__body {
    height: auto;
    box-shadow: inset 0 3px 8px -7px black;
    text-align: center;
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
}
.card-form {
    border-radius: var(--tui-radius-m);
    border: 1px solid black;
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.card-form:has(.card__label) {
    margin-top: 1.5rem
}
.card__label {
    font-weight: bold;
    position: absolute;
    top: -2rem;

}
.card-logo[ng-reflect-payment-system='maestro'] {
    color: var(--tui-base-01);
    background: linear-gradient(45deg, #565656 0%, #161517 100%);
}
.card-logo[ng-reflect-payment-system='visa'] {
    color: var(--tui-base-01);
    background: linear-gradient(45deg, #3c4272 0%, #476a9e 100%);
}
.card-logo[ng-reflect-payment-system='mastercard'] {
    color: var(--tui-base-08);
    background: linear-gradient(45deg, #ecedec 0%, #bfc9b8 90%);
    position: relative;
}
.card-logo[ng-reflect-payment-system='mastercard']::after {
    content : '';
    position: absolute;
    z-index: -1;
    opacity: .6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 80%, #eee, #eee 68%, #aaa 70%, #eee 74%);
}
.card-logo[ng-reflect-payment-system='mir'] {
    color: var(--tui-base-01);
    background-image: linear-gradient(145deg, #8aed5f 0%, #417f17 100%);
}
.card__desc {
    text-align: left;
}
.card__desc > p {
    margin: 0;
}
@media (max-width: 800px) {
    .profile-wrapper {
        max-width: 100%;
    }
}