<div [ngClass]="{'block-wrapper-open':open}" (click)="destroyOnWrapper($event)" tuiMode="onLight" class="block-wrapper">
    <div [ngClass]="{'profile-wrapper-open':open}" class="profile-wrapper">
        <div class="profile-form">

            <div class="profile-form__header">
                <h1 class="tui-text_h6 title">PROFILE</h1>
                <button tuiIconButton type="button" appearance="icon" class="button-close" icon="tuiIconRemoveLarge"
                    (click)="hideProfile()">
                </button>
            </div>

            <div class="profile-form__body tui-text_body-m">
                <div class="profile-form__body_name tui-text_h6">Hello, {{currentUser.firstName}}
                    {{currentUser.lastName}}</div>


                <div class="profile-form__body_shipping">
                    <div class="card-form">
                        <ng-container
                            *ngIf="notEmpty(currentUser.shippingInformation) && currentUser.shippingInformation.country !== null else addSI">
                            <div class="card__label tui-text_body-m">Shipping information</div>
                            <div class="card__desc tui-text_body-m">
                                <p>{{currentUser.shippingInformation.country}}</p>
                                <p>{{currentUser.shippingInformation.adress}},
                                    {{currentUser.shippingInformation.subAdress}},
                                    {{currentUser.shippingInformation.postcode}}</p>
                            </div>
                            <div class="card__control">
                                <button tuiIconButton type="button" appearance="icon"><tui-svg src="tuiIconEditLarge"
                                        (click)="changeProfile('shipping')">Edit</tui-svg></button>
                            </div>
                        </ng-container>
                        <ng-template #addSI>
                            <div class="card__desc tui-text_body-m">Shipping information</div>
                            <div class="card__control">
                                <button tuiIconButton type="button" appearance="icon"><tui-svg
                                        src="tuiIconPlusCircleLarge"
                                        (click)="changeProfile('shipping')">Add</tui-svg></button>
                            </div>
                        </ng-template>
                    </div>
                </div>


                <div class="profile-form__body_payment">
                    <div class="card-form">
                        <ng-container *ngIf="notEmpty(currentUser.paymentInformation) 
                            && currentUser.paymentInformation.card !== '' 
                            && currentUser.paymentInformation.card !== null 
                            else addPI">
                            <div class="card__label tui-text_body-m">Payment information</div>
                            <div class="card__desc tui-text_body-m">
                                <tui-card [cardNumber]="currentUser.paymentInformation.card.slice(-4)"
                                    [paymentSystem]="currentUser.paymentInformation.paymentSystem" class="card-logo no-after"
                                    [active]="true"></tui-card>
                            </div>
                            <div class="card__control">
                                <button tuiIconButton type="button" appearance="icon"><tui-svg src="tuiIconEditLarge"
                                        (click)="changeProfile('payment')">Edit</tui-svg></button>
                            </div>
                        </ng-container>
                        <ng-template #addPI>
                            <div class="card__desc tui-text_body-m">Payment information</div>
                            <div class="card__control">
                                <button tuiIconButton type="button" appearance="icon"><tui-svg
                                        src="tuiIconPlusCircleLarge"
                                        (click)="changeProfile('payment')">Add</tui-svg></button>
                            </div>
                        </ng-template>
                    </div>

                </div>

                <div class="control">
                    <button style="width: 100%" tuiButton appearance="primary" type="button" (click)="logOut()">LOG
                        OUT</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-shipping-form *ngIf="openShipping" [currentUser]="currentUser"
    (changeDataEvent)="changeItem($event)"></app-shipping-form>
<app-payment-form *ngIf="openPayment" [currentUser]="currentUser"
    (changeDataEvent)="changeItem($event)"></app-payment-form>