:host {

    --tui-link: #000;
    --tui-link-hover: #ccc;
    --tui-link-active: #fff;
}
.box {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    touch-action: none;
    overflow: hidden;
}

.button-absolute {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
}

@media only screen and (max-device-width: 1000px) {
    .button-absolute {
        opacity: 0;
    }
}

.right {
    right: 15%;
}

.left {
    left: 15%;
}

.items {
    width: 100%;
    display: flex;
    transition: all 1.5s ease-out;
}
.items-carousel { 
    transition: all 1s ease-out 0s;
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    gap: 2rem;
}
.box img {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position-y: 50%;
}

.box-item {
    min-width: 100%;
    height: 500px;
    cursor: pointer;
    background: var(--tui-base-01);
    text-decoration: none;
    user-select: none;
    box-sizing: border-box;
    background-size: cover;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    opacity: .5;
}
.box-item__image img {
    object-fit: cover;
}
.box-item__desc {
    padding: 1.5rem 1rem;
    width: 100%;
    height: 150px;
}
.active { 
    opacity: 1;
}
.form-link {
    height: 40px;
    max-height: 40px;
    overflow: hidden;
}

.form-link:hover {
    color: var(--tui-success-fill);
}

.form-link__text {
    height: 40px;
    max-height: 40px;
    overflow: hidden;
}
.text-header {
    font-weight: bold;
}

.black {
    color: #000;
    text-shadow: 3px 2px 2px #fff;
}

.white {
    color: #fff;
    text-shadow: 3px 2px 2px #000;
}

.item-scroll-0 {
    transform: translate(0);
}

.item-scroll-1 {
    transform: translate(calc(-100% - 2rem));
}

.item-scroll-2 {
    transform: translate(calc(-200% - 4rem));
}

.item-scroll-3 {
    transform: translate(calc(-300% - 6rem));
}

.item-scroll-4 {
    transform: translate(calc(-400% - 8rem));
}

.item-scroll-5 {
    transform: translate(calc(-500% - 10rem));
}

.main-container {
    max-width: 1200px;
    margin: 2.5rem auto;
}

.best-container,
.label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-container {
    max-width: calc(1000px + 4rem);
    margin: auto;
    height: 400px;
}

.scroll-container {
    width: 100%;
    height: 380px;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.flex-grid-container {
    display: flex;
    align-items: center;
}



.item {
    min-width: calc(250px + .5rem);
    min-height: 350px;
}
.tag {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    background: #3aa981;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: var(--tui-radius-xs) 0% 50% 0%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.item-img {
    height: 250px;
    width: calc(250px + .5rem);
    background-size: cover;
    background-color: var(--tui-base-03);
    border-radius: var(--tui-radius-xs);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-img img {
    height: 160px;
    width: 160px;
    background-size: cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-rate {
    font-size: 1.5rem;
}
.rating-flex {
    display: flex;
    align-items: center;
    color: #fb9e20;
}

.some-container, .carousel-container {
    
    margin-top: 2.5rem;
}
.carousel-container {
    height: calc(500px + 3rem);
}
.carousel-layout {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
}
.gaped {
    gap: 1.5rem;
}

.card-container {
    flex-grow: 1;
    height: 500px;
    border-radius: var(--tui-radius-m);
    overflow: hidden;
    place-items: center;
    display: grid;
    transition: all .7s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.card-container:hover {
    flex-grow: 3;
}

.mask {
    text-align: center;
    transition: all .7s ease-in-out;
    transform: translateY(200px);
    opacity: 0;
}

.card-container:hover .mask {
    opacity: 1;
    transform: translateY(0);
}

.title {
    margin-top: 15%;
}

.new-items-container {
    margin-top: 2.5rem;
}

.items-wrapper {
    width: 80%;
    margin: auto;
    display: grid;
    row-gap: 3rem;
}

.items-wrapper__card {
    display: flex;

    background: var(--tui-base-01);
    box-shadow: 0.1rem 0.25rem .5rem rgb(0 0 0 / 10%);

    padding: 1rem;
    border-radius: var(--tui-radius-m);
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    position: relative;
    overflow: hidden;
    aspect-ratio: 2/1;
}

.items-wrapper__card__item-main,
.items-wrapper__card__item-desc {
    transition: transform 1s, opacity 1s ease-in;
    width: 100%;
}

.items-wrapper__card__item-main {
    z-index: 10;
}

.items-wrapper__card__item-main img {
    height: auto;
    width: 100%;
    background-size: cover;
    border-radius: var(--tui-radius-xs);
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-wrapper__card__item-desc {
    padding-left: 1rem;
    text-align: left;
    opacity: 1;
    z-index: 3;
}

.items-wrapper__card:hover .items-wrapper__card__item-main {
    transform: translate(100%);
}

.items-wrapper__card:hover .items-wrapper__card__item-desc {
    transform: translate(-100%);
    opacity: 0;
    transition: transform 1s, opacity .5s ease;
}

.items-wrapper__card__item-extra {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 1rem 0 1rem 1rem;
    opacity: 0;
    transition: opacity .5s, transform 1s;
    box-sizing: border-box;
    gap: 1rem;
    display: grid;
    align-items: end;
    transform: translate(100%);
    z-index: 5;
}

.extra-desc {
    overflow: hidden;
    height: 100%;
}
#element { 
    margin: 0.5rem 0;
}
.extra-button {
    z-index: 3;
}

.items-wrapper__card:hover .items-wrapper__card__item-extra {
    opacity: 1;
    transition: opacity 2s, transform 1s;
    transform: translate(0%);
}


@media (max-width: 800px) {
    .flex-grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    .card-container {
        height: 350px;
    }
}

@media (max-width: 700px) {
    .items-wrapper {
        width: auto;
        margin: 0 2rem;
    }
    .box-item__desc {
        padding: .5rem 1rem;
    }
}