<!-- CAROUSEL HEADER -->
<div></div>
<!-- BODY CONTENT -->
<div class="main-container">
    <!-- BEST SELLERS -->
    <div class="tui-text_h5 label tui-space_bottom-5">Best Seller</div>
    <div class="best-container">
        <tui-scrollbar class="scroll-container">

            <div class="flex-container">

                <ng-container *ngFor="let item of bestSellers">
                    <div class="item">
                        <ng-container *ngIf="item.tag === 'new'">
                            <div class="tag">NEW</div>
                        </ng-container>
                        <div routerLink="/item/{{item.ref}}" class="item-img tui-space_bottom-2">

                            <img [src]="item.imageSrc">
                        </div>
                        <a tuiLink routerLink="/item/{{item.ref}}" class="form-link">
                            <div class="form-link__text tui-text_body-m-2">{{item.name}}</div>
                        </a>
                        <div class="extra tui-text_body-m-2">
                            <div>${{item.price}}</div>

                            <ngb-rating [max]="5" class="item-rate" [readonly]="true" [rate]="(5 * item.rating)"></ngb-rating>
                        </div>

                    </div>
                </ng-container>
            </div>
        </tui-scrollbar>
    </div>
    <!-- SOMETHING IMPORTANT AND NEW -->
    <div class="some-container">
        <div class="tui-text_h5 label tui-space_bottom-5">Some Title</div>
        <div tuiMode="onDark"
            class="flex-grid-container gaped tui-space_bottom-5 tui-space_top-5 tui-space_left-8 tui-space_right-8">
            <ng-container *ngFor="let card of styleOfCards">
                <a [routerLink]="card.ref" tuiLink [style]="card.style" class="card-container">
                    <div class="mask">
                        <div class="title tui-text_h5">{{card.title}}</div>
                        <div class="desc tui-text_body-m">{{card.desc}}</div>
                    </div>
                </a>
            </ng-container>
        </div>
    </div>
    <!-- CAROUSEL PRODUCT SOLUTIONS -->
    <div class="carousel-container">
        <div class="tui-text_h5 label tui-space_bottom-5">Neo Fits Your Life</div>
        <div class="carousel-layout">
        <div class="box tui-text_body-l" (tuiSwipe)="onSwipe($event)">
            <button class="button-absolute left" tuiIconButton appearance="flat" icon="tuiIconChevronLeftLarge"
                (click)="scrollItem('right')"></button>
            <button class="button-absolute right" tuiIconButton appearance="flat" icon="tuiIconChevronRightLarge"
                (click)="scrollItem('left')"></button>
            <div class="items items-carousel" [style]="smooth" [ngClass]="background">
                <ng-container *ngFor="let image of carouselImages; let index=index">
                    <div [routerLink]="image.ref" class="box-item" [ngClass]="index === indexCurrent? 'active' : ''">
                        <div class="box-item__image"><img [src]="image.imageSrc"></div>
                        <div class="box-item__desc">
                            <h2 class="tui-text_h6">{{image.title}}</h2>
                            <p class="tui-text_body-m-2">{{image.desc}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
            
        </div></div>
    </div>
    <!-- NEW PRODUCTS -->
    <div class="new-items-container">
        <div class="tui-text_h5 label tui-space_bottom-5">Brand New</div>
        <div class="items-wrapper tui-space_left-8 tui-space_right-8">
            <ng-container *ngFor="let item of listOfNewItems">
                <div class="items-wrapper__card">
                    <div class="items-wrapper__card__item-extra">
                        <div class="extra-desc tui-text_body-m">{{item.desc}}</div>
                        <button routerLink="/deals/new" tuiButton type="button" class="extra-button">More</button>
                    </div>
                    <div class="items-wrapper__card__item-main">
                        <img [src]="item.imageSrc">
                    </div>
                    <div class="items-wrapper__card__item-desc">
                        <div class="item-name">
                            <h1 class="tui-text_h6">{{item.name}}</h1>
                        </div>
                        <ul class="item-prop tui-text_body-m">
                            <li id="element" *ngFor="let property of item.prop | keyvalue">{{upperCaseFirstCh(property.key)}}: {{property.value}}</li>
                        </ul>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>