<!-- BOX HEADER -->
<div class="box tui-text_body-l" (tuiSwipe)="onSwipe($event)">
    <button class="button-absolute left" tuiIconButton appearance="flat" icon="tuiIconChevronLeftLarge"
        (click)="scrollItem('right')"></button>
    <button class="button-absolute right" tuiIconButton appearance="flat" icon="tuiIconChevronRightLarge"
        (click)="scrollItem('left')"></button>
    <div class="items" [style]="smooth" [ngClass]="background">
        <a routerLink="/deals/seasonal-deals" class="box-item item--2">
            <div class="tui-text_h1 text-header white">SEASONAL ARMENIA</div>
        </a>
        <a routerLink="/deals/seasonal-deals" class="box-item item--1">
            <div class="tui-text_h1 text-header white">SEASONAL ARMENIA</div>
        </a>
        <!-- extra -->
        <a tuiLink routerLink="/products" class="box-item item-0">
            <div class="tui-text_h1 text-header black">PRODUCTS THAT MAKES <br> YOUR LIFE EASIER</div>
        </a>
        <a routerLink="/deals/seasonal-deals" class="box-item item-1">
            <div class="tui-text_h1 text-header black">GET GIFTS FOR YOUR FAMILY</div>
        </a>
        <a routerLink="/deals/seasonal-deals" class="box-item item-2">
            <div class="tui-text_h1 text-header white">PLANNING A TRIP<br>NEO WITH YOU</div>
        </a>
        <a routerLink="/deals/seasonal-deals" class="box-item item-3">
            <div class="tui-text_h1 text-header white">SEASONAL ARMENIA</div>
        </a>
        <!-- extra -->
        <a tuiLink routerLink="/products" class="box-item item-5">
            <div class="tui-text_h1 text-header black">PRODUCTS THAT MAKES <br> YOUR LIFE EASIER</div>
        </a>
        <a tuiLink routerLink="/products" class="box-item item-6">
            <div class="tui-text_h1 text-header black">PRODUCTS THAT MAKES <br> YOUR LIFE EASIER</div>
        </a>
    </div>
</div>
<!-- BODY CONTENT -->
<div class="main-container">
    <!-- BEST SELLERS -->
    <div class="tui-text_h5 label-best tui-space_bottom-5">Best Seller</div>
    <div class="best-container">
        <tui-scrollbar class="scroll-container">

            <div class="flex-container">

                <ng-container *ngFor="let item of bestSellers">
                    <div class="item">
                        <ng-container *ngIf="item.tag === 'new'">
                            <div class="tag">NEW</div>
                        </ng-container>
                        <div class="item-img tui-space_bottom-2">

                            <img [src]="item.imageSrc">
                        </div>
                        <a tuiLink routerLink="/item/{{item.ref}}" class="form-link"><div class="form-link__text tui-text_body-m-2">{{item.name}}</div></a>
                        <div class="extra tui-text_body-m-2">
                            <div>${{item.price}}</div>
                            <div class="rating-flex">
                                <ng-container *ngIf="item.rating > 0 || item.rating >= 0.2; else srcNull">
                                    <tui-svg *ngIf="item.rating >= 0.2; else srcHalf" [src]="ratingSrcFull"></tui-svg>
                                </ng-container>

                                <ng-container *ngIf="item.rating > 0.2 || item.rating >= 0.4; else srcNull">
                                    <tui-svg *ngIf="item.rating >= 0.4; else srcHalf" [src]="ratingSrcFull"></tui-svg>
                                </ng-container>

                                <ng-container *ngIf="item.rating > 0.4 || item.rating >= 0.6; else srcNull">
                                    <tui-svg *ngIf="item.rating >= 0.6; else srcHalf" [src]="ratingSrcFull"></tui-svg>
                                </ng-container>

                                <ng-container *ngIf="item.rating > 0.6 || item.rating >= 0.8; else srcNull">
                                    <tui-svg *ngIf="item.rating >= 0.8; else srcHalf" [src]="ratingSrcFull"></tui-svg>
                                </ng-container>

                                <ng-container *ngIf="item.rating > 0.8 || item.rating == 1; else srcNull">
                                    <tui-svg *ngIf="item.rating == 1; else srcHalf" [src]="ratingSrcFull"></tui-svg>
                                </ng-container>

                            </div>
                            <ng-template #srcNull>
                                <tui-svg [src]="ratingSrcNull"></tui-svg>
                            </ng-template>
                            <ng-template #srcHalf>
                                <tui-svg [src]="ratingSrcHalf"></tui-svg>
                            </ng-template>
                        </div>

                    </div>
                </ng-container>
            </div>
        </tui-scrollbar>
    </div>
    <!-- SOMETHING IMPORTANT AND NEW -->
    <div tuiMode="onDark" class="flex-grid-container gaped tui-space_left-8 tui-space_right-8">
        <a routerLink="/" tuiLink [style]="styleOfCards[0].style" class="card-container">
            <div class="mask">
                <div class="title tui-text_h5">{{styleOfCards[0].title}}</div>
                <div class="desc tui-text_body-m">{{styleOfCards[0].desc}}</div>
            </div>
        </a>
        <a routerLink="/" tuiLink [style]="styleOfCards[1].style" class="card-container">
            <div class="mask">
                <div class="title tui-text_h5">{{styleOfCards[1].title}}</div>
                <div class="desc tui-text_body-m">{{styleOfCards[1].desc}}</div>
            </div>
        </a>
    </div>
</div>